.services-area {
  background-size: cover;
  background-position: center center;
}
.services-wrapper {
  background: $white;
  padding: 1.25rem;
  border-radius: 10px;
}
.about-img {
  margin-left: 25px;
}
.about-img img {
  width: 100%;
}
.about-content {
  margin-left: 51px;
  margin-top: 30px;

  & p {
    margin-bottom: 0;
  }
}
.about-1-img {
  margin-top: 34px;
}
.services-text {
  & h3 {
    font-family: $c_sem;
    font-size: 24px;
    margin-top: 23px;
    margin-bottom: 21px;
  }
  & p {
    margin-bottom: 0;
    line-height: 30px;
    text-align: left;
  }
}
.services-text a {
  position: relative;
  display: inline-block;
  margin-top: 24px;
  font-family: $c_sem;
  text-transform: uppercase;
  font-size: 14px;
  padding: 13px 29px;
  transition: 0.3s;
  border-radius: 5px;
  vertical-align: middle;
  border: 2px solid #ececec;
}
.services-button {
  color: $theme-color;
  z-index: 9;
  position: relative;
  transition: 0.3s;
}
.services-button i {
  margin-left: 5px;
}
.services-text a:hover .services-button {
  color: $white;
}
.services-text a:hover {
  border-color: #1065c4;
}
.services-text .cta-custom:hover {
  border-color: white;
}
.services-text a::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 100%;
  background: $theme-color;
  -webkit-transition: all 0.3s ease;
  transition: all 0.4s ease;
}
.services-text a:hover::before {
  width: 100%;
  left: 0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  border-radius: 4px;
}
.section-title {
  & > span {
    color: $theme-color;
    font-family: $c_bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  & h1 {
    font-size: 45px;
    margin-bottom: 0;
    font-family: $c_bold;
    margin-top: 21px;
    & > span {
      color: $theme-color;
    }
  }
  & p {
    margin-bottom: 0;
    margin-top: 34px;
    font-size: 15px;
    line-height: 30px;
  }
}
.border-left-1 {
  height: 3px;
  width: 40px;
  background: $theme-color;
  left: -15px;
  display: inline-block;
  position: relative;
  top: -3px;
}
.border-right-1 {
  height: 3px;
  width: 40px;
  background: $theme-color;
  right: -15px;
  display: inline-block;
  top: -3px;
  position: relative;
}
.sub-t-left {
  padding-left: 20px;
}
.b-sm-left-1 {
  height: 3px;
  width: 15px;
  background: $theme-color;
  left: 0;
  display: inline-block;
  position: relative;
  top: -3px;
}
.b-sm-left-2 {
  height: 3px;
  width: 40px;
  background: $theme-color;
  display: inline-block;
  top: -3px;
  position: relative;
  left: 5px;
}
.section-title-white {
  & > span {
    color: $white;
  }
  & h1 {
    color: $white;
  }
  & p {
    color: #bbbbbb;
  }
}
.section-title-white .b-sm-left-1 {
  background: $white;
}
.section-title-white .b-sm-left-2 {
  background: $white;
}
.section-title-white .border-left-1 {
  background: $white;
}
.section-title-white .border-right-1 {
  background: $white;
}
// services-2-style
.our-services-wrapper {
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(231, 231, 231, 0.65);
  padding: 30px;
}
.our-services-img img {
  width: 100%;
}
.our-services-icon {
  float: left;
  margin-right: 30px;
  & i {
    font-size: 40px;
    color: $theme-color;
  }
}
.our-services-content {
  margin-top: 40px;
}
.our-services-text {
  overflow: hidden;
  & h3 {
    font-size: 24px;
    margin-bottom: 12px;
  }
  & p {
    margin-bottom: 0;
  }
  & a {
    font-size: 14px;
    text-transform: uppercase;
    color: $theme-color;
    font-family: $c_bold;
    margin-top: 25px;
    display: inline-block;
    & i {
      padding-left: 5px;
    }
  }
}
.services-2-wrapper {
  padding-right: 77px;
}

// management
.management-wrapper {
  margin-top: 36px;
}
.management-text {
  & h1 {
    font-size: 45px;
    margin-bottom: 36px;
  }
  & p {
    margin-bottom: 22px;
    padding-right: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.it-management-area {
  background-size: cover;
  background-position: center center;
}
.it-management-img {
  & img {
    width: 100%;
  }
}
.it-management-wrapper {
  margin-left: 20px;
  & .it-management-text {
    & h1 {
      color: $white;
      margin-bottom: 32px;
      font-size: 45px;
    }
    & span {
      color: $white;
      line-height: 30px;
      font-size: 18px;
      font-family: $c_med;
    }
    & p {
      margin-bottom: 0;
      color: $white;
      margin-top: 21px;
    }
  }
}

// golas
.our-goals-img img {
  width: 100%;
}
.our-golas-text {
  margin-top: 29px;
}
.our-golas-text h3 {
  font-size: 24px;
}
.our-golas-text p {
  line-height: 30px;
  margin-bottom: 0;
  margin-right: 13px;
}
.goals-area {
  background: #091b29;
}
.goals-img {
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
  background-position: center center;
}
.golas-wrapper {
  padding: 120px 67px 130px 55px;
}
.golas-text p {
  color: #bbbbbb;
  line-height: 30px;
  margin-bottom: 0;
}
.goals-list {
  margin-top: 24px;
  margin-bottom: 37px;
}
.goals-list li {
  padding-bottom: 12px;
  &:last-child {
    padding-bottom: 0;
  }
}
.goals-list li i {
  color: $theme-color;
  font-size: 15px;
  margin-right: 6px;
}
.goals-list li span {
  color: #bbbbbb;
  font-size: 15px;
}
.goals-list li span {
  color: #bbbbbb;
  font-size: 15px;
  font-family: $c_reg;
}

// features-area
.features-area {
  margin-top: -106px;
  position: relative;
}
.features-wrapper {
  border-right: 1px solid #2084f2;
}
.features-bg .col-xl-4:last-child .features-wrapper {
  border-right: 0;
}
.features-icon {
  margin-bottom: 33px;
  & i {
    font-size: 50px;
    color: $white;
  }
}
.features-text {
  & h3 {
    font-size: 24px;
    color: $white;
    font-family: $c_sem;
    margin-bottom: 10px;
  }
  & p {
    color: $white;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 30px;
    padding: 0 67px;
  }
}

// services-tab
.services-tab-area {
  background-size: cover;
  background-position: center center;
}
.services-tab li {
  margin: 0;
  position: relative;
  padding: 0 5px;
}
.services-tab li:last-child {
  padding-right: 0;
}
.services-tab li:first-child {
  padding-left: 0;
}
.services-tab li:last-child:before {
  display: none;
}
.services-tab li a {
  transition: 0.3s;
  background: #19354b;
  padding: 28px 42px;
  margin: 0;
}
.services-tab li a:hover {
  background: $theme-color;
}
.services-tab li a.active {
  background: $theme-color;
}
.services-tap-icon {
  float: left;
  margin-right: 12px;
  & i {
    font-size: 26px;
    color: #a8cbe6;
    transition: 0.3s;
  }
}
.services-tab li a:hover .services-tap-icon i {
  color: $white;
}
.services-tab li a.active .services-tap-icon i {
  color: $white;
}
.services-tap-text {
  overflow: hidden;
  & h4 {
    font-size: 22px;
    color: #a8cbe6;
    font-family: $c_sem;
    margin-bottom: 0;
    transition: 0.3s;
  }
}
.services-tab li a.active .services-tap-text h4 {
  color: $white;
}
.services-tab li a:hover .services-tap-text h4 {
  color: $white;
}
