@import 'variables';
@import 'mixins';
@import 'common';
@import 'overlay';
@import 'header';
@import 'btn';
@import 'about';
@import 'footer';
@import 'services';
@import 'team';
@import 'cta';
@import 'project';
@import 'contact';
@import 'process';
@import 'responsive';

html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

.list-custom {
  li::before {
    content: '·';
    font-size: 4rem;
    font-weight: bold;
    vertical-align: middle;
    line-height: 2rem;
    margin-right: 0.5rem;
  }
  .text-white {
    color: white;
    &::selection {
      background-color: #fbb6ce;
    }
  }
}

.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}
.svg-inline--fa.fa-gem {
  width: 1.5em;
}
.svg-inline--fa.fa-atom-alt {
  width: 1.5em;
}
.svg-inline--fa.fa-head-side-brain {
  width: 1.5em;
}
